<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0035CB201B645B6600F7F502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0035CB351B645B6600F7F502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D0C8D01B67DFEC00823D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D0C8E51B67DFEC00823D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
